.DS_Store
.cpp
a.out
.xcscheme
MDB_Swift/MyDailyBeat/MyDailyBeat.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/API.xcscheme
MDB_Swift/MyDailyBeat/MyDailyBeat.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/MyDailyBeat.xcscheme
MDB_Swift/MyDailyBeat/MyDailyBeat.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/xcschememanagement.plist
MDB_Swift/MyDailyBeat/MyDailyBeat.xcworkspace/xcuserdata/virinchi.xcuserdatad/UserInterfaceState.xcuserstate
MDB_Swift/MyDailyBeat/MyDailyBeat.xcworkspace/xcuserdata/virinchi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/AHKActionSheet.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/Alamofire.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/ASBPlayerScrubbing.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/ASMediaFocusManager.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/CocoaSecurity.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/CocoaWSSE.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/DateToolsSwift.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/DLAlertView.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/DownPicker-DownPicker.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/DownPicker.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/EasyTipView.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/FXBlurView.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/FXForms.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/GBVersionTracking.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/IQKeyboardManagerSwift.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/JSQMessagesViewController.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/JSQSystemSoundPlayer.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/PhoneNumberKit.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/Pods-API.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/Pods-MyDailyBeat.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/RESideMenu.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/RFAboutView-Swift-RFAboutView_Swift.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/RFAboutView-Swift.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/SlackTextViewController.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/Toast-Swift.xcscheme
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/xcschememanagement.plist
MDB_Swift/MyDailyBeat/Pods/Pods.xcodeproj/xcuserdata/virinchi.xcuserdatad/xcschemes/XMLDictionary.xcscheme
